{{#ember-wormhole to="ember-tutorial-component-wormhole"}}
  <div class='tutorial-component {{if isLeftPointer "left" "right"}} {{if hideMessage "hide" "show"}}' style={{tooltipStyle}}>
    <div>{{message}}</div>
      <button {{action 'skip'}} class="default-btn skip-btn">Skip</button>
    {{#if isLastMessage}}
      <button {{action 'done'}} class="default-btn done-btn">Done</button>
    {{else}}
      <button {{action 'next'}}class="default-btn next-btn">Next</button>
    {{/if}}
  </div>
{{/ember-wormhole}}
 