{{!-- {{#ember-wormhole to="ember-tutorial-component-wormhole"}} --}}
  <div class='tutorial-component {{pointerDirection}} {{if hideMessage "hide"}}'>
    <div class="message">{{message}}</div>
    <div class="action-menu">
      {{#unless isFirstMessage}}
        <button {{action 'previous'}} class="default-btn previous-btn">Previous</button>
      {{/unless}}
      <button {{action 'skip'}} class="default-btn skip-btn">Skip</button>
      {{#if isLastMessage}}
        <button {{action 'done'}} class="default-btn done-btn">Done</button>
      {{else}}
        <button onclick={{action 'next'}} class="default-btn next-btn">Next</button>
      {{/if}}
    </div>
  </div>
{{!-- {{/ember-wormhole}} --}}
